In [24]:
#libraries import

import pandas as pd
import seaborn as sns

In [106]:
df = pd.read_excel('data2.xlsx')

In [107]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.19,0,99.1
1,2015,15,10.0,3.0,10.0,NaN,NaN,30.0,5.0,NaN,...,NaN,2.0,NaN,NaN,NaN,3.0,NaN,49.59,0,99.1
2,2015,16,NaN,NaN,23.0,NaN,NaN,3.0,2.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.98,0,99.1
3,2015,17,NaN,NaN,17.0,NaN,NaN,45.0,8.0,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,53.88,0,99.1
4,2015,18,NaN,NaN,73.0,NaN,NaN,19.0,2.0,1.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,NaN,NaN,NaN,NaN,NaN,5.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.33,0,116.6
406,2023,2,9.0,NaN,22.0,NaN,2.0,14.0,15.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.16,0,116.6
407,2023,3,18.0,NaN,12.0,NaN,NaN,2.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,122.70,0,116.6
408,2023,4,7.0,NaN,14.0,NaN,4.0,7.0,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.26,0,116.6
409,2023,5,8.0,NaN,14.0,NaN,NaN,27.0,28.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.14,0,116.6

In [108]:
df.describe()

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
count,410.000000,410.000000,317.000000,19.000000,371.000000,3.000000,90.000000,379.000000,335.000000,98.000000,...,25.000000,68.000000,9.000000,8.000000,5.000000,28.000000,5.000000,410.000000,410.000000,410.000000
mean,2018.660976,26.960976,16.817035,1.473684,31.857143,3.666667,6.522222,25.572559,11.994030,6.214286,...,1.440000,1.338235,1.888889,1.875000,1.600000,1.357143,1.200000,93.205415,0.256098,103.699512
std,2.281999,15.052262,19.896201,0.841191,35.291046,3.785939,7.642618,27.727737,12.011221,8.138302,...,1.293574,0.891256,1.166667,0.991031,1.140175,0.869835,0.447214,39.098905,0.437010,4.738032
min,2015.000000,1.000000,0.000000,0.000000,-1.000000,1.000000,1.000000,-4.000000,-3.000000,-5.000000,...,-1.000000,-2.000000,1.000000,1.000000,0.000000,-1.000000,1.000000,38.650000,0.000000,99.100000
25%,2017.000000,14.000000,5.000000,1.000000,8.000000,1.500000,2.000000,6.000000,4.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,63.625000,0.000000,101.600000
50%,2019.000000,27.000000,10.000000,1.000000,20.000000,2.000000,4.000000,16.000000,8.000000,3.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,85.155000,0.000000,102.300000
75%,2021.000000,40.000000,21.000000,2.000000,41.500000,5.000000,7.750000,36.000000,16.000000,8.000000,...,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,112.530000,1.000000,105.100000
max,2023.000000,53.000000,131.000000,3.000000,211.000000,8.000000,44.000000,148.000000,65.000000,44.000000,...,5.000000,4.000000,4.000000,4.000000,3.000000,4.000000,2.000000,219.770000,1.000000,116.600000

In [109]:
df = df.fillna(0)

In [110]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.19,0,99.1
1,2015,15,10.0,3.0,10.0,0.0,0.0,30.0,5.0,0.0,...,0.0,2.0,0.0,0.0,0.0,3.0,0.0,49.59,0,99.1
2,2015,16,0.0,0.0,23.0,0.0,0.0,3.0,2.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.98,0,99.1
3,2015,17,0.0,0.0,17.0,0.0,0.0,45.0,8.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,53.88,0,99.1
4,2015,18,0.0,0.0,73.0,0.0,0.0,19.0,2.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.33,0,116.6
406,2023,2,9.0,0.0,22.0,0.0,2.0,14.0,15.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.16,0,116.6
407,2023,3,18.0,0.0,12.0,0.0,0.0,2.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.70,0,116.6
408,2023,4,7.0,0.0,14.0,0.0,4.0,7.0,17.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.26,0,116.6
409,2023,5,8.0,0.0,14.0,0.0,0.0,27.0,28.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.14,0,116.6

In [111]:
products = df.columns[2:1264]

In [112]:
products

Index(['ES080E', 'ES1000E', 'ES100E', 'ES1200E', 'ES125E', 'ES150E', 'ES200E',
       'ES200E/16', 'ES250E', 'ES250E/16',
       ...
       'XS450E', 'XS450E/16', 'XS500E', 'XS500E/16', 'XS600E', 'XS600E/16',
       'XS700E', 'XS700E/16', 'XS800E', 'XS900E'],
      dtype='object', length=1262)

In [113]:
df[products] = df[products].apply(lambda x: x*2)

In [114]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.19,0,99.1
1,2015,15,20.0,6.0,20.0,0.0,0.0,60.0,10.0,0.0,...,0.0,4.0,0.0,0.0,0.0,6.0,0.0,49.59,0,99.1
2,2015,16,0.0,0.0,46.0,0.0,0.0,6.0,4.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49.98,0,99.1
3,2015,17,0.0,0.0,34.0,0.0,0.0,90.0,16.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,53.88,0,99.1
4,2015,18,0.0,0.0,146.0,0.0,0.0,38.0,4.0,2.0,...,0.0,2.0,0.0,0.0,0.0,2.0,0.0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,0.0,0.0,0.0,0.0,0.0,10.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.33,0,116.6
406,2023,2,18.0,0.0,44.0,0.0,4.0,28.0,30.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.16,0,116.6
407,2023,3,36.0,0.0,24.0,0.0,0.0,4.0,16.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.70,0,116.6
408,2023,4,14.0,0.0,28.0,0.0,8.0,14.0,34.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.26,0,116.6
409,2023,5,16.0,0.0,28.0,0.0,0.0,54.0,56.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,125.14,0,116.6

In [115]:
df[products] = df[products].astype(int)

In [116]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,0,0,0,0,0,0,12,0,...,0,0,0,0,0,0,0,47.19,0,99.1
1,2015,15,20,6,20,0,0,60,10,0,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2015,16,0,0,46,0,0,6,4,12,...,0,0,0,0,0,0,0,49.98,0,99.1
3,2015,17,0,0,34,0,0,90,16,0,...,0,4,0,0,0,0,0,53.88,0,99.1
4,2015,18,0,0,146,0,0,38,4,2,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,0,0,0,0,0,10,4,0,...,0,0,0,0,0,0,0,122.33,0,116.6
406,2023,2,18,0,44,0,4,28,30,0,...,0,0,0,0,0,0,0,122.16,0,116.6
407,2023,3,36,0,24,0,0,4,16,0,...,0,0,0,0,0,0,0,122.70,0,116.6
408,2023,4,14,0,28,0,8,14,34,0,...,0,0,0,0,0,0,0,125.26,0,116.6
409,2023,5,16,0,28,0,0,54,56,6,...,0,0,0,0,0,0,0,125.14,0,116.6

In [117]:
df.to_excel('data2.xlsx')