In [1]:
#libraries import

import pandas as pd
import seaborn as sns

In [10]:
df = pd.read_excel('data2.xlsx')

In [12]:
df

,Unnamed: 0,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,0,2015,14,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,47.19,0,99.1
1,1,2015,15,20,6,20,0,0,60,10,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2,2015,16,0,0,46,0,0,6,4,...,0,0,0,0,0,0,0,49.98,0,99.1
3,3,2015,17,0,0,34,0,0,90,16,...,0,4,0,0,0,0,0,53.88,0,99.1
4,4,2015,18,0,0,146,0,0,38,4,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,405,2023,1,0,0,0,0,0,10,4,...,0,0,0,0,0,0,0,122.33,0,116.6
406,406,2023,2,18,0,44,0,4,28,30,...,0,0,0,0,0,0,0,122.16,0,116.6
407,407,2023,3,36,0,24,0,0,4,16,...,0,0,0,0,0,0,0,122.70,0,116.6
408,408,2023,4,14,0,28,0,8,14,34,...,0,0,0,0,0,0,0,125.26,0,116.6
409,409,2023,5,16,0,28,0,0,54,56,...,0,0,0,0,0,0,0,125.14,0,116.6

In [4]:
df.describe()

,Unnamed: 0,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
count,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,...,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000
mean,204.500000,2018.660976,26.960976,26.004878,0.136585,57.653659,0.053659,2.863415,47.278049,19.600000,...,0.175610,0.443902,0.082927,0.073171,0.039024,0.185366,0.029268,93.205415,0.256098,103.699512
std,118.501055,2.281999,15.052262,37.712981,0.713734,69.692633,0.819714,8.947873,55.004474,23.610863,...,0.932117,1.230431,0.643152,0.580458,0.417747,0.818359,0.278174,39.098905,0.437010,4.738032
min,0.000000,2015.000000,1.000000,0.000000,0.000000,-2.000000,0.000000,0.000000,-8.000000,-6.000000,...,-2.000000,-4.000000,0.000000,0.000000,0.000000,-2.000000,0.000000,38.650000,0.000000,99.100000
25%,102.250000,2017.000000,14.000000,2.000000,0.000000,10.000000,0.000000,0.000000,10.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.625000,0.000000,101.600000
50%,204.500000,2019.000000,27.000000,14.000000,0.000000,34.000000,0.000000,0.000000,27.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85.155000,0.000000,102.300000
75%,306.750000,2021.000000,40.000000,34.000000,0.000000,78.000000,0.000000,0.000000,68.000000,28.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,112.530000,1.000000,105.100000
max,409.000000,2023.000000,53.000000,262.000000,6.000000,422.000000,16.000000,88.000000,296.000000,130.000000,...,10.000000,8.000000,8.000000,8.000000,6.000000,8.000000,4.000000,219.770000,1.000000,116.600000

In [5]:
df = df.fillna(0)

In [6]:
df

,Unnamed: 0,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,0,2015,14,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,47.19,0,99.1
1,1,2015,15,20,6,20,0,0,60,10,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2,2015,16,0,0,46,0,0,6,4,...,0,0,0,0,0,0,0,49.98,0,99.1
3,3,2015,17,0,0,34,0,0,90,16,...,0,4,0,0,0,0,0,53.88,0,99.1
4,4,2015,18,0,0,146,0,0,38,4,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,405,2023,1,0,0,0,0,0,10,4,...,0,0,0,0,0,0,0,122.33,0,116.6
406,406,2023,2,18,0,44,0,4,28,30,...,0,0,0,0,0,0,0,122.16,0,116.6
407,407,2023,3,36,0,24,0,0,4,16,...,0,0,0,0,0,0,0,122.70,0,116.6
408,408,2023,4,14,0,28,0,8,14,34,...,0,0,0,0,0,0,0,125.26,0,116.6
409,409,2023,5,16,0,28,0,0,54,56,...,0,0,0,0,0,0,0,125.14,0,116.6

In [7]:
products = df.columns[2:1264]

In [8]:
products

Index(['Tydzień Roku', 'ES080E', 'ES1000E', 'ES100E', 'ES1200E', 'ES125E',
       'ES150E', 'ES200E', 'ES200E/16', 'ES250E',
       ...
       'XS400E/16', 'XS450E', 'XS450E/16', 'XS500E', 'XS500E/16', 'XS600E',
       'XS600E/16', 'XS700E', 'XS700E/16', 'XS800E'],
      dtype='object', length=1262)

In [113]:
df[products] = df[products].apply(lambda x: x*2)

In [9]:
df

,Unnamed: 0,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,0,2015,14,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,47.19,0,99.1
1,1,2015,15,20,6,20,0,0,60,10,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2,2015,16,0,0,46,0,0,6,4,...,0,0,0,0,0,0,0,49.98,0,99.1
3,3,2015,17,0,0,34,0,0,90,16,...,0,4,0,0,0,0,0,53.88,0,99.1
4,4,2015,18,0,0,146,0,0,38,4,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,405,2023,1,0,0,0,0,0,10,4,...,0,0,0,0,0,0,0,122.33,0,116.6
406,406,2023,2,18,0,44,0,4,28,30,...,0,0,0,0,0,0,0,122.16,0,116.6
407,407,2023,3,36,0,24,0,0,4,16,...,0,0,0,0,0,0,0,122.70,0,116.6
408,408,2023,4,14,0,28,0,8,14,34,...,0,0,0,0,0,0,0,125.26,0,116.6
409,409,2023,5,16,0,28,0,0,54,56,...,0,0,0,0,0,0,0,125.14,0,116.6

In [115]:
df[products] = df[products].astype(int)

In [116]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,0,0,0,0,0,0,12,0,...,0,0,0,0,0,0,0,47.19,0,99.1
1,2015,15,20,6,20,0,0,60,10,0,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2015,16,0,0,46,0,0,6,4,12,...,0,0,0,0,0,0,0,49.98,0,99.1
3,2015,17,0,0,34,0,0,90,16,0,...,0,4,0,0,0,0,0,53.88,0,99.1
4,2015,18,0,0,146,0,0,38,4,2,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,0,0,0,0,0,10,4,0,...,0,0,0,0,0,0,0,122.33,0,116.6
406,2023,2,18,0,44,0,4,28,30,0,...,0,0,0,0,0,0,0,122.16,0,116.6
407,2023,3,36,0,24,0,0,4,16,0,...,0,0,0,0,0,0,0,122.70,0,116.6
408,2023,4,14,0,28,0,8,14,34,0,...,0,0,0,0,0,0,0,125.26,0,116.6
409,2023,5,16,0,28,0,0,54,56,6,...,0,0,0,0,0,0,0,125.14,0,116.6

In [18]:
df.to_excel('data2.xlsx')

In [19]:
df.to_csv('data_cleaned.csv')

In [16]:
df.drop('Unnamed: 0', axis = 'columns', inplace = True)

In [17]:
df

,Rok,Tydzień Roku,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015,14,0,0,0,0,0,0,12,0,...,0,0,0,0,0,0,0,47.19,0,99.1
1,2015,15,20,6,20,0,0,60,10,0,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2015,16,0,0,46,0,0,6,4,12,...,0,0,0,0,0,0,0,49.98,0,99.1
3,2015,17,0,0,34,0,0,90,16,0,...,0,4,0,0,0,0,0,53.88,0,99.1
4,2015,18,0,0,146,0,0,38,4,2,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023,1,0,0,0,0,0,10,4,0,...,0,0,0,0,0,0,0,122.33,0,116.6
406,2023,2,18,0,44,0,4,28,30,0,...,0,0,0,0,0,0,0,122.16,0,116.6
407,2023,3,36,0,24,0,0,4,16,0,...,0,0,0,0,0,0,0,122.70,0,116.6
408,2023,4,14,0,28,0,8,14,34,0,...,0,0,0,0,0,0,0,125.26,0,116.6
409,2023,5,16,0,28,0,0,54,56,6,...,0,0,0,0,0,0,0,125.14,0,116.6