In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_cleaned.csv', index_col = 0)

In [3]:
df

,Data,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015-04-06,0,0,0,0,0,0,12,0,0,...,0,0,0,0,0,0,0,47.19,0,99.1
1,2015-04-13,20,6,20,0,0,60,10,0,22,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2015-04-20,0,0,46,0,0,6,4,12,0,...,0,0,0,0,0,0,0,49.98,0,99.1
3,2015-04-27,0,0,34,0,0,90,16,0,0,...,0,4,0,0,0,0,0,53.88,0,99.1
4,2015-05-04,0,0,146,0,0,38,4,2,14,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023-01-02,0,0,0,0,0,10,4,0,0,...,0,0,0,0,0,0,0,122.33,0,116.6
406,2023-01-09,18,0,44,0,4,28,30,0,0,...,0,0,0,0,0,0,0,122.16,0,116.6
407,2023-01-16,36,0,24,0,0,4,16,0,0,...,0,0,0,0,0,0,0,122.70,0,116.6
408,2023-01-23,14,0,28,0,8,14,34,0,2,...,0,0,0,0,0,0,0,125.26,0,116.6
409,2023-01-30,16,0,28,0,0,54,56,6,4,...,0,0,0,0,0,0,0,125.14,0,116.6

In [7]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.2, shuffle=False)

In [8]:
train_data

,Data,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
0,2015-04-06,0,0,0,0,0,0,12,0,0,...,0,0,0,0,0,0,0,47.19,0,99.1
1,2015-04-13,20,6,20,0,0,60,10,0,22,...,0,4,0,0,0,6,0,49.59,0,99.1
2,2015-04-20,0,0,46,0,0,6,4,12,0,...,0,0,0,0,0,0,0,49.98,0,99.1
3,2015-04-27,0,0,34,0,0,90,16,0,0,...,0,4,0,0,0,0,0,53.88,0,99.1
4,2015-05-04,0,0,146,0,0,38,4,2,14,...,0,2,0,0,0,2,0,59.02,0,99.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,2021-06-07,20,0,46,0,0,20,6,0,6,...,0,0,0,0,0,0,0,214.21,1,105.1
324,2021-06-14,84,0,20,0,0,80,20,0,4,...,0,6,0,0,0,0,0,214.17,1,105.1
325,2021-06-21,118,0,298,0,20,272,44,14,70,...,4,2,0,0,0,0,0,212.46,1,105.1
326,2021-06-28,60,0,180,0,0,120,30,0,14,...,0,0,0,0,0,0,0,215.78,1,105.1
327,2021-07-05,4,0,0,0,0,0,100,0,6,...,0,0,0,0,0,0,0,219.77,1,105.1

In [9]:
test_data

,Data,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
328,2021-07-12,8,0,52,0,0,48,8,0,10,...,0,0,0,0,0,0,0,216.03,1,105.1
329,2021-07-19,66,0,192,0,0,66,110,6,0,...,0,0,0,0,0,0,0,211.99,1,105.1
330,2021-07-26,222,0,66,0,6,260,98,0,16,...,0,0,0,0,0,0,0,172.01,1,105.1
331,2021-08-02,0,0,6,0,0,96,0,0,20,...,0,0,0,0,0,0,0,167.95,1,105.1
332,2021-08-09,20,0,18,0,0,28,0,0,0,...,0,2,0,0,0,0,0,160.54,1,105.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2023-01-02,0,0,0,0,0,10,4,0,0,...,0,0,0,0,0,0,0,122.33,0,116.6
406,2023-01-09,18,0,44,0,4,28,30,0,0,...,0,0,0,0,0,0,0,122.16,0,116.6
407,2023-01-16,36,0,24,0,0,4,16,0,0,...,0,0,0,0,0,0,0,122.70,0,116.6
408,2023-01-23,14,0,28,0,8,14,34,0,2,...,0,0,0,0,0,0,0,125.26,0,116.6
409,2023-01-30,16,0,28,0,0,54,56,6,4,...,0,0,0,0,0,0,0,125.14,0,116.6

In [10]:
df.to_csv('data_cleaned.csv', index = False)

In [11]:
train_data.to_csv('train_data.csv', index = False)
test_data.to_csv('test_data.csv', index = False)