In [55]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
import numpy as np

# Data import

In [56]:
arima_results = pd.read_csv('arima_results.csv', index_col = 0)

In [57]:
arima_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,38,0,60,0,2,90,20,3,8,11,...,0,0,1,0,1,0,0,0,0,0
2021-07-19,41,0,83,0,2,88,27,3,29,9,...,0,0,1,0,1,0,0,0,0,0
2021-07-26,36,0,78,0,2,94,21,3,16,7,...,0,0,1,0,1,0,0,0,0,0
2021-08-02,39,0,76,0,2,59,36,3,8,5,...,0,0,1,0,1,0,0,0,0,0
2021-08-09,47,0,76,0,2,100,24,3,8,4,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,41,0,76,0,2,78,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-09,41,0,76,0,2,84,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-16,41,0,76,0,2,79,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-23,41,0,76,0,2,82,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-30,41,0,76,0,2,81,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0

In [58]:
test_data = pd.read_csv('test_data.csv', index_col = 0)

In [59]:
test_data

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E,Cena rudy żelaza,Stan epidemii w Polsce,Inflacja
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,8,0,52,0,0,48,8,0,10,30,...,0,0,0,0,0,0,0,216.03,1,105.1
2021-07-19,66,0,192,0,0,66,110,6,0,4,...,0,0,0,0,0,0,0,211.99,1,105.1
2021-07-26,222,0,66,0,6,260,98,0,16,2,...,0,0,0,0,0,0,0,172.01,1,105.1
2021-08-02,0,0,6,0,0,96,0,0,20,0,...,0,0,0,0,0,0,0,167.95,1,105.1
2021-08-09,20,0,18,0,0,28,0,0,0,0,...,0,2,0,0,0,0,0,160.54,1,105.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,0,0,0,0,0,10,4,0,0,0,...,0,0,0,0,0,0,0,122.33,0,116.6
2023-01-09,18,0,44,0,4,28,30,0,0,0,...,0,0,0,0,0,0,0,122.16,0,116.6
2023-01-16,36,0,24,0,0,4,16,0,0,0,...,0,0,0,0,0,0,0,122.70,0,116.6
2023-01-23,14,0,28,0,8,14,34,0,2,0,...,0,0,0,0,0,0,0,125.26,0,116.6
2023-01-30,16,0,28,0,0,54,56,6,4,0,...,0,0,0,0,0,0,0,125.14,0,116.6

In [60]:
results = pd.read_csv('mae_results.csv', index_col = 0)

In [61]:
results

           AutoARIMA  N-BEATS  Prophet  Best model
ES080E            37       42        0           0
ES1000E            0        2        0           0
ES100E            57       66        0           0
ES1200E            0        2        0           0
ES125E             6        7        0           0
...              ...      ...      ...         ...
XS600E/16          0        1        0           0
XS700E             0        1        0           0
XS700E/16          0        1        0           0
XS800E             0        2        0           0
XS900E             0        1        0           0

[1262 rows x 4 columns]

In [62]:
nbeats_results = pd.read_csv('nbeats_results.csv', index_col = 0)

In [63]:
nbeats_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,17,0,8,1,17,94,25,-1,9,20,...,2,1,1,0,2,-1,1,0,-1,-2
2021-07-19,12,1,22,4,4,96,2,-1,5,6,...,0,1,1,0,5,1,-2,0,-5,2
2021-07-26,10,-1,57,2,3,21,6,-2,5,6,...,-1,-2,1,1,4,2,1,-1,1,-1
2021-08-02,7,0,53,0,3,11,1,1,6,-3,...,0,3,5,-1,-1,0,2,1,2,-1
2021-08-09,-3,0,0,-4,0,-7,0,0,2,0,...,0,0,-3,0,0,0,-1,1,-2,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22,1,31,-3,-2,53,13,2,19,17,...,-1,1,-1,1,2,3,-1,1,1,-1
2023-01-09,63,2,27,-3,4,53,15,1,7,4,...,0,-1,3,-1,5,0,-2,0,3,1
2023-01-16,119,3,174,0,14,183,35,8,41,31,...,1,0,-3,3,5,-4,0,0,-1,1
2023-01-23,99,-1,273,-1,9,230,43,7,48,31,...,1,1,-9,4,3,2,0,1,0,1
2023-01-30,37,2,108,-1,-1,76,69,-1,11,11,...,1,0,7,0,-2,0,2,0,-3,-1

In [64]:
prophet_results = pd.read_csv('prophet_results.csv', index_col = 0)
prophet_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,35,0,84,0,3,69,36,5,10,4,...,0,0,1,0,0,0,0,0,0,0
2021-07-19,37,0,79,0,3,73,31,4,10,6,...,0,0,0,1,0,0,0,0,0,0
2021-07-26,37,0,73,0,2,75,27,4,10,11,...,0,0,0,1,0,0,0,0,0,0
2021-08-02,32,0,68,0,1,72,26,3,10,14,...,0,0,0,1,1,0,0,0,0,0
2021-08-09,26,0,66,0,1,67,27,2,10,13,...,0,0,2,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22,0,42,0,1,48,21,0,8,1,...,0,0,-1,1,0,0,0,0,0,0
2023-01-09,22,0,48,0,0,40,20,0,6,-1,...,0,0,0,1,0,0,0,0,0,0
2023-01-16,30,0,63,0,0,48,17,2,6,2,...,0,0,0,1,0,0,0,0,0,0
2023-01-23,38,0,70,0,1,59,16,4,8,6,...,0,0,0,0,0,0,0,0,0,0
2023-01-30,41,0,68,0,2,64,22,3,9,8,...,0,0,0,0,1,0,0,0,0,0

# Creating dataframe for results of MAE metric

In [65]:
products = test_data.columns[0:1262]

In [66]:
products

Index(['ES080E', 'ES1000E', 'ES100E', 'ES1200E', 'ES125E', 'ES150E', 'ES200E',
       'ES200E/16', 'ES250E', 'ES250E/16',
       ...
       'XS450E', 'XS450E/16', 'XS500E', 'XS500E/16', 'XS600E', 'XS600E/16',
       'XS700E', 'XS700E/16', 'XS800E', 'XS900E'],
      dtype='object', length=1262)

In [25]:
results = pd.DataFrame(index = products)

In [29]:
results["AutoARIMA"] = 0
results["N-BEATS"] = 0
results["Prophet"] = 0

In [30]:
results

           AutoARIMA  N-BEATS  Prophet
ES080E             0        0        0
ES1000E            0        0        0
ES100E             0        0        0
ES1200E            0        0        0
ES125E             0        0        0
...              ...      ...      ...
XS600E/16          0        0        0
XS700E             0        0        0
XS700E/16          0        0        0
XS800E             0        0        0
XS900E             0        0        0

[1262 rows x 3 columns]

# Processing AutoARIMA results

In [11]:
type(arima_results.iloc[0,0])

numpy.float64

In [12]:
arima_results = arima_results.applymap(lambda x: round(x))

In [13]:
arima_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,38,0,60,0,2,90,20,3,8,11,...,0,0,1,0,1,0,0,0,0,0
2021-07-19,41,0,83,0,2,88,27,3,29,9,...,0,0,1,0,1,0,0,0,0,0
2021-07-26,36,0,78,0,2,94,21,3,16,7,...,0,0,1,0,1,0,0,0,0,0
2021-08-02,39,0,76,0,2,59,36,3,8,5,...,0,0,1,0,1,0,0,0,0,0
2021-08-09,47,0,76,0,2,100,24,3,8,4,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,41,0,76,0,2,78,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-09,41,0,76,0,2,84,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-16,41,0,76,0,2,79,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-23,41,0,76,0,2,82,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0
2023-01-30,41,0,76,0,2,81,25,3,9,7,...,0,0,1,0,1,0,0,0,0,0

In [51]:
arima_results.to_csv('arima_results.csv')

In [20]:
mae = []
for product in products:
    y_pred = np.array(arima_results[product])
    y_true = np.array(test_data[product])
    metric = mean_absolute_error(y_true, y_pred)
    mae.append(metric)

results['AutoARIMA'] = mae
results.to_csv('mae_results.csv')

In [21]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0         NaN
ES1000E            0   1.829268        0         NaN
ES100E            57  65.719512        0         NaN
ES1200E            0   1.780488        0         NaN
ES125E             6   7.097561        0         NaN
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0         NaN
XS700E             0   1.341463        0         NaN
XS700E/16          0   0.829268        0         NaN
XS800E             0   1.865854        0         NaN
XS900E             0   1.085366        0         NaN

[1262 rows x 4 columns]

In [ ]:
results = results.applymap(lambda x: round(x))

In [54]:
results

           AutoARIMA  N-BEATS  Prophet
ES080E            37        0        0
ES1000E            0        0        0
ES100E            57        0        0
ES1200E            0        0        0
ES125E             6        0        0
...              ...      ...      ...
XS600E/16          0        0        0
XS700E             0        0        0
XS700E/16          0        0        0
XS800E             0        0        0
XS900E             0        0        0

[1262 rows x 3 columns]

# Processing N-BEATS resuls

In [67]:
type(nbeats_results.iloc[0,0])

numpy.int64

In [15]:
nbeats_results = nbeats_results.applymap(lambda x: round(x))

In [72]:
nbeats_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,17,0,8,1,17,94,25,-1,9,20,...,2,1,1,0,2,-1,1,0,-1,-2
2021-07-19,12,1,22,4,4,96,2,-1,5,6,...,0,1,1,0,5,1,-2,0,-5,2
2021-07-26,10,-1,57,2,3,21,6,-2,5,6,...,-1,-2,1,1,4,2,1,-1,1,-1
2021-08-02,7,0,53,0,3,11,1,1,6,-3,...,0,3,5,-1,-1,0,2,1,2,-1
2021-08-09,-3,0,0,-4,0,-7,0,0,2,0,...,0,0,-3,0,0,0,-1,1,-2,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22,1,31,-3,-2,53,13,2,19,17,...,-1,1,-1,1,2,3,-1,1,1,-1
2023-01-09,63,2,27,-3,4,53,15,1,7,4,...,0,-1,3,-1,5,0,-2,0,3,1
2023-01-16,119,3,174,0,14,183,35,8,41,31,...,1,0,-3,3,5,-4,0,0,-1,1
2023-01-23,99,-1,273,-1,9,230,43,7,48,31,...,1,1,-9,4,3,2,0,1,0,1
2023-01-30,37,2,108,-1,-1,76,69,-1,11,11,...,1,0,7,0,-2,0,2,0,-3,-1

In [17]:
nbeats_results.to_csv('nbeats_results.csv')

In [70]:
mae = []
for product in products:
    y_pred = np.array(nbeats_results[product])
    y_true = np.array(test_data[product])
    metric = mean_absolute_error(y_true, y_pred)
    mae.append(metric)

results['N-BEATS'] = mae

In [71]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0           0
ES1000E            0   1.829268        0           0
ES100E            57  65.719512        0           0
ES1200E            0   1.780488        0           0
ES125E             6   7.097561        0           0
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0           0
XS700E             0   1.341463        0           0
XS700E/16          0   0.829268        0           0
XS800E             0   1.865854        0           0
XS900E             0   1.085366        0           0

[1262 rows x 4 columns]

In [73]:
results = results.applymap(lambda x: round(x))

In [74]:
results

           AutoARIMA  N-BEATS  Prophet  Best model
ES080E            37       42        0           0
ES1000E            0        2        0           0
ES100E            57       66        0           0
ES1200E            0        2        0           0
ES125E             6        7        0           0
...              ...      ...      ...         ...
XS600E/16          0        1        0           0
XS700E             0        1        0           0
XS700E/16          0        1        0           0
XS800E             0        2        0           0
XS900E             0        1        0           0

[1262 rows x 4 columns]

In [75]:
results.to_csv('mae_results.csv')

# Processing Prophet results

In [76]:
prophet_results = prophet_results.applymap(lambda x: round(x))

In [77]:
prophet_results

,ES080E,ES1000E,ES100E,ES1200E,ES125E,ES150E,ES200E,ES200E/16,ES250E,ES250E/16,...,XS450E,XS450E/16,XS500E,XS500E/16,XS600E,XS600E/16,XS700E,XS700E/16,XS800E,XS900E
Data,,,,,,,,,,,,,,,,,,,,,
2021-07-12,35,0,84,0,3,69,36,5,10,4,...,0,0,1,0,0,0,0,0,0,0
2021-07-19,37,0,79,0,3,73,31,4,10,6,...,0,0,0,1,0,0,0,0,0,0
2021-07-26,37,0,73,0,2,75,27,4,10,11,...,0,0,0,1,0,0,0,0,0,0
2021-08-02,32,0,68,0,1,72,26,3,10,14,...,0,0,0,1,1,0,0,0,0,0
2021-08-09,26,0,66,0,1,67,27,2,10,13,...,0,0,2,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-02,22,0,42,0,1,48,21,0,8,1,...,0,0,-1,1,0,0,0,0,0,0
2023-01-09,22,0,48,0,0,40,20,0,6,-1,...,0,0,0,1,0,0,0,0,0,0
2023-01-16,30,0,63,0,0,48,17,2,6,2,...,0,0,0,1,0,0,0,0,0,0
2023-01-23,38,0,70,0,1,59,16,4,8,6,...,0,0,0,0,0,0,0,0,0,0
2023-01-30,41,0,68,0,2,64,22,3,9,8,...,0,0,0,0,1,0,0,0,0,0

In [78]:
prophet_results.to_csv('prophet_results.csv')

In [79]:
mae = []
for product in products:
    y_pred = np.array(prophet_results[product])
    y_true = np.array(test_data[product])
    metric = mean_absolute_error(y_true, y_pred)
    mae.append(metric)

results['Prophet'] = mae
results.to_csv('mae_results.csv')

In [80]:
results

           AutoARIMA  N-BEATS    Prophet  Best model
ES080E            37       42  36.670732           0
ES1000E            0        2   0.170732           0
ES100E            57       66  60.280488           0
ES1200E            0        2   0.134146           0
ES125E             6        7   6.353659           0
...              ...      ...        ...         ...
XS600E/16          0        1   0.012195           0
XS700E             0        1   0.121951           0
XS700E/16          0        1   0.048780           0
XS800E             0        2   0.329268           0
XS900E             0        1   0.024390           0

[1262 rows x 4 columns]

In [81]:
results = results.applymap(lambda x: round(x))
results.to_csv('mae_results.csv')
results

           AutoARIMA  N-BEATS  Prophet  Best model
ES080E            37       42       37           0
ES1000E            0        2        0           0
ES100E            57       66       60           0
ES1200E            0        2        0           0
ES125E             6        7        6           0
...              ...      ...      ...         ...
XS600E/16          0        1        0           0
XS700E             0        1        0           0
XS700E/16          0        1        0           0
XS800E             0        2        0           0
XS900E             0        1        0           0

[1262 rows x 4 columns]

# Wybranie najlepszego modelu dla każdego produktu

Im mniejsza wartość MAE, tym lepszy model

In [23]:
results["Best model"] = 0

In [24]:
results

           AutoARIMA    N-BEATS  Prophet  Best model
ES080E            37  42.426829        0           0
ES1000E            0   1.829268        0           0
ES100E            57  65.719512        0           0
ES1200E            0   1.780488        0           0
ES125E             6   7.097561        0           0
...              ...        ...      ...         ...
XS600E/16          0   1.329268        0           0
XS700E             0   1.341463        0           0
XS700E/16          0   0.829268        0           0
XS800E             0   1.865854        0           0
XS900E             0   1.085366        0           0

[1262 rows x 4 columns]

In [57]:
results.to_csv('mae_results.csv')

In [33]:
results.groupby(results['Best model'], axis = 0).count()

            AutoARIMA  N-BEATS  Prophet
Best model
0                1262     1262     1262

In [40]:
results.idxmin(axis = 1)

ES080E         Prophet
ES1000E      AutoARIMA
ES100E         Prophet
ES1200E      AutoARIMA
ES125E         Prophet
               ...
XS600E/16    AutoARIMA
XS700E       AutoARIMA
XS700E/16    AutoARIMA
XS800E       AutoARIMA
XS900E       AutoARIMA
Length: 1262, dtype: object

In [41]:
results.idxmin(axis = 1)[0:3]

ES080E       Prophet
ES1000E    AutoARIMA
ES100E       Prophet
dtype: object

In [44]:
results['Best model'][0:3]

ES080E     0
ES1000E    0
ES100E     0
Name: Best model, dtype: int64

In [ ]:
results.to_csv('mae_results.csv')